/*
Author: Joy Dixon
Date:  2/21/2023
File Name: hds.css
*/

.home {
    background-image: -webkit-linear-gradient(237deg,rgba(120,169,181,1.00) 0%,rgba(29,85,99,1.00) 19.17%,rgba(73,178,204,1.00) 19.17%,rgba(50,131,151,1.00) 22.80%,rgba(76,128,141,1.00) 30.57%,rgba(6,39,47,1.00) 50.26%,rgba(12,127,155,1.00) 53.89%,rgba(6,39,47,1.00) 55.96%,rgba(73,178,204,1.00) 79.79%,rgba(29,85,99,1.00) 89.12%,rgba(120,169,181,1.00) 98.45%,rgba(120,169,181,1.00) 100%);
    background-image: -moz-linear-gradient(237deg,rgba(120,169,181,1.00) 0%,rgba(29,85,99,1.00) 19.17%,rgba(73,178,204,1.00) 19.17%,rgba(50,131,151,1.00) 22.80%,rgba(76,128,141,1.00) 30.57%,rgba(6,39,47,1.00) 50.26%,rgba(12,127,155,1.00) 53.89%,rgba(6,39,47,1.00) 55.96%,rgba(73,178,204,1.00) 79.79%,rgba(29,85,99,1.00) 89.12%,rgba(120,169,181,1.00) 98.45%,rgba(120,169,181,1.00) 100%);
    background-image: -o-linear-gradient(237deg,rgba(120,169,181,1.00) 0%,rgba(29,85,99,1.00) 19.17%,rgba(73,178,204,1.00) 19.17%,rgba(50,131,151,1.00) 22.80%,rgba(76,128,141,1.00) 30.57%,rgba(6,39,47,1.00) 50.26%,rgba(12,127,155,1.00) 53.89%,rgba(6,39,47,1.00) 55.96%,rgba(73,178,204,1.00) 79.79%,rgba(29,85,99,1.00) 89.12%,rgba(120,169,181,1.00) 98.45%,rgba(120,169,181,1.00) 100%);
    background-image: linear-gradient(213deg,rgba(120,169,181,1.00) 0%,rgba(29,85,99,1.00) 19.17%,rgba(73,178,204,1.00) 19.17%,rgba(50,131,151,1.00) 22.80%,rgba(76,128,141,1.00) 30.57%,rgba(6,39,47,1.00) 50.26%,rgba(12,127,155,1.00) 53.89%,rgba(6,39,47,1.00) 55.96%,rgba(73,178,204,1.00) 79.79%,rgba(29,85,99,1.00) 89.12%,rgba(120,169,181,1.00) 98.45%,rgba(120,169,181,1.00) 100%);
}

/*Style rules for body and images */
body {
	background-color: #000;
}

/* Style rules for navigation area */
nav {
	padding: 1%;
	margin-bottom: 1%;
}
	
nav ul {
	list-style-type: none;
	text-align: center;
}

nav li {
	font-size: 1.5em;
	font-family: 'Outfit', sans-serif;
}

nav li:first-child {
	border-top: none;
}

nav li a {
	display: block;
	color: #fff;
	padding: 0.5em 1em;
	text-decoration: none;
}.center a {
}
