@charset "utf-8";
header {
    background-color: #413C3C;
    background-position: center center;
    background-size: 80% auto;
    background-repeat: no-repeat;
    height: 200px;
    background-clip: padding-box;
    background-origin: padding-box;
    background-attachment: fixed;
    font-family: "Trebuchet MS", Verdana, Arial, helvetica, sans-serif;
    background-image: url(hds.css);
}
image   {
}
body {
    background-image: -webkit-linear-gradient(34deg,rgba(60,98,110,1.00) 7.77%,rgba(86,160,170,1.00) 10.36%,rgba(60,98,110,1.00) 15.54%,rgba(128,147,150,1.00) 16.58%,rgba(59,125,134,1.00) 22.28%,rgba(5,59,66,1.00) 27.46%,rgba(43,166,181,1.00) 32.65%,rgba(7,88,98,1.00) 33.68%,rgba(107,128,131,1.00) 41.97%,rgba(142,235,247,1.00) 45.08%,rgba(28,76,82,1.00) 45.08%,rgba(28,76,82,1.00) 48.70%,rgba(61,81,83,1.00) 56.99%,rgba(102,160,167,1.00) 65.28%,rgba(11,85,94,1.00) 69.95%,rgba(125,182,189,1.00) 78.76%,rgba(10,107,119,1.00) 83.42%,rgba(91,98,99,1.00) 89.12%,rgba(6,62,69,1.00) 97.41%);
    background-image: -moz-linear-gradient(34deg,rgba(60,98,110,1.00) 7.77%,rgba(86,160,170,1.00) 10.36%,rgba(60,98,110,1.00) 15.54%,rgba(128,147,150,1.00) 16.58%,rgba(59,125,134,1.00) 22.28%,rgba(5,59,66,1.00) 27.46%,rgba(43,166,181,1.00) 32.65%,rgba(7,88,98,1.00) 33.68%,rgba(107,128,131,1.00) 41.97%,rgba(142,235,247,1.00) 45.08%,rgba(28,76,82,1.00) 45.08%,rgba(28,76,82,1.00) 48.70%,rgba(61,81,83,1.00) 56.99%,rgba(102,160,167,1.00) 65.28%,rgba(11,85,94,1.00) 69.95%,rgba(125,182,189,1.00) 78.76%,rgba(10,107,119,1.00) 83.42%,rgba(91,98,99,1.00) 89.12%,rgba(6,62,69,1.00) 97.41%);
    background-image: -o-linear-gradient(34deg,rgba(60,98,110,1.00) 7.77%,rgba(86,160,170,1.00) 10.36%,rgba(60,98,110,1.00) 15.54%,rgba(128,147,150,1.00) 16.58%,rgba(59,125,134,1.00) 22.28%,rgba(5,59,66,1.00) 27.46%,rgba(43,166,181,1.00) 32.65%,rgba(7,88,98,1.00) 33.68%,rgba(107,128,131,1.00) 41.97%,rgba(142,235,247,1.00) 45.08%,rgba(28,76,82,1.00) 45.08%,rgba(28,76,82,1.00) 48.70%,rgba(61,81,83,1.00) 56.99%,rgba(102,160,167,1.00) 65.28%,rgba(11,85,94,1.00) 69.95%,rgba(125,182,189,1.00) 78.76%,rgba(10,107,119,1.00) 83.42%,rgba(91,98,99,1.00) 89.12%,rgba(6,62,69,1.00) 97.41%);
    background-image: linear-gradient(56deg,rgba(60,98,110,1.00) 7.77%,rgba(86,160,170,1.00) 10.36%,rgba(60,98,110,1.00) 15.54%,rgba(128,147,150,1.00) 16.58%,rgba(59,125,134,1.00) 22.28%,rgba(5,59,66,1.00) 27.46%,rgba(43,166,181,1.00) 32.65%,rgba(7,88,98,1.00) 33.68%,rgba(107,128,131,1.00) 41.97%,rgba(142,235,247,1.00) 45.08%,rgba(28,76,82,1.00) 45.08%,rgba(28,76,82,1.00) 48.70%,rgba(61,81,83,1.00) 56.99%,rgba(102,160,167,1.00) 65.28%,rgba(11,85,94,1.00) 69.95%,rgba(125,182,189,1.00) 78.76%,rgba(10,107,119,1.00) 83.42%,rgba(91,98,99,1.00) 89.12%,rgba(6,62,69,1.00) 97.41%);
    width: auto;
    height: auto;
    min-width: 512px;
    max-width: none;
    max-height: none;
    display: inherit;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    overflow-x: visible;
    visibility: visible;
}
.text-white {
}
.text-white {
}
.text-white {
}
.align-center {
}
.btn-white {
}
footer {
    color: #FFFFFF;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-align: center;
    text-shadow: 0px 0px #FBFBFB;
}
.test-white {
}
.text.white {
}
.center {
}
.a {
}
nav {
    height: auto;

}
.align-left {
}
.text-white {
}
.text-white {
}
.tesxt-white {
}
.container.mt-3 .row.text-light.text-center img {
}
